body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f7f7f7;
}

/* TOP BUTTONS */
.top-buttons {
    display: flex;
    gap: 15px;
    padding: 15px;
    background: #d411a0;
}

.btn {
    color: white;
    background: #ff1897;
    padding: 10px 16px;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
}

.btn:hover {
    background: #e10e71;
}

/* DROPDOWN */
.dropdown {
    position: relative;
}

.dropbtn {
    background: #f2026a;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: white;
    min-width: 170px;
    border-radius: 6px;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.2);
}

.dropdown-content a {
    display: block;
    padding: 10px;
    color: #003366;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* HEADER IMAGE */
.header-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 20px;
}

/* LAYOUT CONTENT ROW */
.content-row {
    display: flex;
    gap: 20px;
    padding: 20px;
}

/* LEFT IMAGES */
.image-column {
    width: 28%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.side-image {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

/* TEXT BOX */
.content-box {
    width: 70%;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
}

h2 {
    color: #003366;
}

h3 {
    color: #f168aa;
}

ul {
    margin-left: 20px;
}
