/* ====
header img.header-img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    display: block;
}

/* ===== HEADER TULISAN ===== */
header .judul-header {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-top: 20px;
    color: #333;
    font-family: Arial, sans-serif;
}



.KONDISI-INDONESIA {
    background-color: #f3faff;
    padding: 18px;
    border-left: 5px solid #4A90E2;
    width: 85%;
    margin: 25px auto;
    font-size: 17px;
    line-height: 1.7;
    color: #333;
    border-radius: 8px;
    font-family: Arial, sans-serif;
}


body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.KONDISI-INDONESIA {
    font-size: 18px;
    text-align: center;
    margin-top: 25px;
    line-height: 1.6;
    font-family: Arial, sans-serif;
}


.konten-box {
    display: flex;
    width: 90%;
    margin: 40px auto;
    gap: 30px;
}


.konten-kiri {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.foto-kecil {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 6px;
}


.konten-kanan {
    width: 60%;
    font-family: Arial, sans-serif;
}

.judul-konten {
    font-size: 26px;
    margin-bottom: 15px;
}

.isi-konten {
    font-size: 17px;
    margin-bottom: 15px;
    line-height: 1.6;
}

.dropdown {
    position: relative;
    display: inline-block;
}


.dropbtn {
    background-color: red;    /* warna merah */
    color: white;
    padding: 10px 16px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 180px;
    border: 1px solid black;   
}


.dropdown-content a {
    color: black;
    padding: 10px 12px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {
    background-color: #ddd;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.home-btn {
    border-radius: 8px;
}


.dropbtn {
    border-radius: 8px;
}


.dropdown-content {
    border-radius: 8px;
}

.home-btn {
    background-color: red;
    color: white;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.home-btn:hover {
    background-color: darkred;
}
.home-btn {
    border-radius: 8px;
}


.dropbtn {
    border-radius: 8px;
}


.dropdown-content {
    border-radius: 8px;
}
.bil-btn:hover:hover {
    background-color: rgb(198, 31, 131);
    color: white;
    padding: 10px 16px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
}

/* efek hover */
.bil-btn:hover:hover {
    background-color: rgb(232, 42, 159);
}

